<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <div class="container">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Form</h3>
                    </div>
                    <div class="panel-body">
                        <% if(messages.success) {%>
                            <div class="alert alert-success" role="alert">
                                <% for(success in messages.success) {%>
                                    <div>
                                        <% success.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
                                <% if(messages.error) {%>
                                    <div class="alert alert-danger" role="alert">
                                        <% for(error in messages.error) {%>
                                            <div>
                                                <% error.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } %>
                    </div>
                    <form class="form-horizontal" method="POST" action="/account?_method=PUT">
                        <legend>Profile Information</legend>
                        <div class="form-group">
                            <label class="col-sm-3" for="email">Email</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="email" name="email" id="email" value="user.email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3" for="name">Name</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="name" id="name" value="user.name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Gender</label>
                            <label class="radio-inline radio col-sm-4">
                                <input type="radio" checked="<%= user.gender == 'male' %>" name='gender' value='male' data-toggle='radio' />
                                <span>Male</span>
                            </label>
                            <label class="radio-inline radio col-sm-4">
                                <input type="radio" checked="<%= user.gender == 'female' %>" name='gender' value='female' data-toggle='radio' />
                                <span>Female</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3" for="location">Location</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="location" id="location" value=<%=u ser.location %> />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3" for="website">Website</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="website" id="website" value=<%=u ser.website %> />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Gravator</label>
                            <div class="col-sm-4">
                                <img src="<% user.gravatar %>" class='profile' width='100' height='100'>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-4">
                                <button class="btn btn-success" type="submit">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action="/account?_method=PUT">
                            <legend>Change Password</legend>
                            <div class="form-group">
                                <label class="col-sm-3" for="password">New Password</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="password" name="password" id="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3" for="confirm">Confirm Password</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="password" name="confirm" id="confirm" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-success" type="submit">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <legend>Linked Accounts</legend>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-4">
                                    <%= if (user.facebook) {%>
                                        <p><a class="text-danger" href="/unlink/facebook">Unlink your Facebook account</a></p>
                                        <% } else {%>
                                            <p><a href="/auth/facebook">Link your Facebook account</a></p>
                                            <% } %>
                                                <%= if (user.twitter) {%>
                                                    <p><a class="text-danger" href="/unlink/twitter">Unlink your Twitter account</a></p>
                                                    <% } else {%>
                                                        <p><a href="/auth/facebook">Link your Twitter account</a></p>
                                                        <% } %>
                                                            <%= if (user.github) {%>
                                                                <p><a class="text-danger" href="/unlink/github">Unlink your Github account</a></p>
                                                                <% } else {%>
                                                                    <p><a href="/auth/github">Link your Github account</a></p>
                                                                    <% } %>
                                                                        <%= if (user.google) {%>
                                                                            <p><a class="text-danger" href="/unlink/google">Unlink your Google account</a></p>
                                                                            <% } else {%>
                                                                                <p><a href="/auth/google">Link your Google account</a></p>
                                                                                <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action="/account?_method=DELETE">
                            <legend>Delete Account</legend>
                            <div class="form-group">
                                <p class="col-sm-offset-3 col-sm-9">You can delete your account, but keep in mind this action is irreversible.</p>
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button class="btn btn-danger" type="submit">Delete my account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class=""></div>
            </div>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>